# Dependencies
markdown:         redcarpet
highlighter:      pygments


# Setup
title:            The Crime of Gentrificiation or the Gentrification of Crime?
tagline:          'A Jekyll theme'
description:      'We wanted to analyze, if we find a relation within the crime patterns of San Francisco and the gentrification, that both seem haunt the lovely people of this city.'
url:              http://hyde.getpoole.com
baseurl:          /

author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/eddyvmgit/assignment_2_code
